*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color:#F7F7F7;
	color: #494949;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
}

.status-bar {
	z-index: 2;
	position: fixed;
 	top: 0;
	width: 100%;
	text-align: right;
	background-color: rgba(0, 0, 0, .25);
}

nav {
  margin: 0 auto;
  background-color: #27AE60;
  padding: 56px 20px 0px 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.fa-arrow-left {
	float: left;
}

h1 {
	font-size: 1.25em;
  text-align: left;
  padding-left: 35px;
}

.fa-heart {
	float:right;
}

.fa-arrow-left, h1, .fa-heart {
	color: white;
	display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

.content {
	padding-top: 75px;
	margin-bottom: 55px;
}

.route {
	background-color: white;
	padding: 12px 0 0 20px;
	border-bottom: solid #bbbbbb .5px;
	height: 75px;
}

.bus {
  display: inline-block;
  font-weight: bold;
	font-size: 1em;
	float: left;
	width: 18%;
}

.circle {
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background: blue;
  line-height: 50px;
}

.r60 {
  background: #F2994A;
}

.r124 {
  background: #2F80ED;
}

.r151 {
  background: #EB5757;
}

.j14 {
  background: #EB57B9;
}

.r4 {
  background: #052F5F;
}

.r6x {
  background: #89023E;
}

.r20 {
  background: #9B51E0;
}

.r157 {
  background: #08605F;
}

.destination {
  display: inline-block;
  font-size: 1em;
  width: 51%;
	line-height: 1.3;
	float: left;
  padding: 8px 0 0 15px;
}

.direction {
  display: inline-block;
  color: #878787;
  font-size: 0.75em;
  width: 51%;
	line-height: 1.3;
	float: left;
  padding-left: 15px;
  padding-top: 3px;
}

.next-bus {
	display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.3;
	font-weight: bold;
  text-align: right;
	width: 31%;
  padding-top: 8px;
}

.frequency {
  display: inline-block;
  color: #878787;
  font-size: 0.75em;
  line-height: 1.3;
  width: 31%;
  text-align: right;
}

.out-of-service, .reroute {
	color: red;
  text-transform: uppercase;
}

.fab {
   width: 50px;
   height: 50px;
   background-color: #27AE60;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #a5a5a5;

   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 32px;

   position: fixed;
   right: 20px;
   bottom: 70px;
}

.bottom-navbar {
	width: 100%;
	text-align: center;
	background-color: #ECECEC;
	position: fixed;
	bottom: 0;
}

@media screen and (min-width: 575px) {
	.route {
		display: inline-block;
		width: 48%;
		margin: 0 1% 0 1%;
		}

	nav {
		padding: 15px;
		}

  .content {
		padding-top: 50px;
		}
}
